# dependencies
node_modules
.pnp.*

# build output
dist
dist-ssr
*.local

# Vite
.vite

# env / credentials
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS noise
.DS_Store
.vscode
*.swp

# coverage / test artifacts
coverage


